.particle {
  position: absolute;
  border-radius: 50%;
  mix-blend-mode: screen;
  background-image: radial-gradient(#99ffff, #99ffff 10%, rgba(153, 255, 255, 0) 56%);
}

.particle.eaten {
  transition: all 1s;
  width: 70px !important;
  height: 70px !important;
  opacity: 0;
  visibility: hidden;
  animation: none;
  background-image: radial-gradient(#feff99, #feff99, 10%, rgba(153, 255, 255, 0) 50%);
}

@keyframes particle-animation-1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(85vw, 20vh, 0);
  }
}
.particle:nth-child(1) {
  animation: particle-animation-1 60s infinite;
  height: 11px;
  width: 11px;
  animation-delay: -0.2s;
  transform: translate3d(59vw, 69vh, 0);
}

@keyframes particle-animation-2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(86vw, 22vh, 0);
  }
}
.particle:nth-child(2) {
  animation: particle-animation-2 60s infinite;
  height: 11px;
  width: 11px;
  animation-delay: -0.4s;
  transform: translate3d(66vw, 76vh, 0);
}

@keyframes particle-animation-3 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(41vw, 36vh, 0);
  }
}
.particle:nth-child(3) {
  animation: particle-animation-3 60s infinite;
  height: 13px;
  width: 13px;
  animation-delay: -0.6s;
  transform: translate3d(40vw, 76vh, 0);
}

@keyframes particle-animation-4 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(49vw, 71vh, 0);
  }
}
.particle:nth-child(4) {
  animation: particle-animation-4 60s infinite;
  height: 15px;
  width: 15px;
  animation-delay: -0.8s;
  transform: translate3d(15vw, 55vh, 0);
}

@keyframes particle-animation-5 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(57vw, 52vh, 0);
  }
}
.particle:nth-child(5) {
  animation: particle-animation-5 60s infinite;
  height: 14px;
  width: 14px;
  animation-delay: -1s;
  transform: translate3d(26vw, 38vh, 0);
}

@keyframes particle-animation-6 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(11vw, 2vh, 0);
  }
}
.particle:nth-child(6) {
  animation: particle-animation-6 60s infinite;
  height: 15px;
  width: 15px;
  animation-delay: -1.2s;
  transform: translate3d(69vw, 61vh, 0);
}

@keyframes particle-animation-7 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(75vw, 45vh, 0);
  }
}
.particle:nth-child(7) {
  animation: particle-animation-7 60s infinite;
  height: 14px;
  width: 14px;
  animation-delay: -1.4s;
  transform: translate3d(45vw, 9vh, 0);
}

@keyframes particle-animation-8 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(79vw, 8vh, 0);
  }
}
.particle:nth-child(8) {
  animation: particle-animation-8 60s infinite;
  height: 15px;
  width: 15px;
  animation-delay: -1.6s;
  transform: translate3d(44vw, 61vh, 0);
}

@keyframes particle-animation-9 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(68vw, 63vh, 0);
  }
}
.particle:nth-child(9) {
  animation: particle-animation-9 60s infinite;
  height: 12px;
  width: 12px;
  animation-delay: -1.8s;
  transform: translate3d(5vw, 88vh, 0);
}

@keyframes particle-animation-10 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(14vw, 58vh, 0);
  }
}
.particle:nth-child(10) {
  animation: particle-animation-10 60s infinite;
  height: 11px;
  width: 11px;
  animation-delay: -2s;
  transform: translate3d(71vw, 77vh, 0);
}

@keyframes particle-animation-11 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(60vw, 88vh, 0);
  }
}
.particle:nth-child(11) {
  animation: particle-animation-11 60s infinite;
  height: 11px;
  width: 11px;
  animation-delay: -2.2s;
  transform: translate3d(83vw, 69vh, 0);
}

@keyframes particle-animation-12 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(23vw, 68vh, 0);
  }
}
.particle:nth-child(12) {
  animation: particle-animation-12 60s infinite;
  height: 11px;
  width: 11px;
  animation-delay: -2.4s;
  transform: translate3d(40vw, 54vh, 0);
}

@keyframes particle-animation-13 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(61vw, 57vh, 0);
  }
}
.particle:nth-child(13) {
  animation: particle-animation-13 60s infinite;
  height: 11px;
  width: 11px;
  animation-delay: -2.6s;
  transform: translate3d(64vw, 25vh, 0);
}

@keyframes particle-animation-14 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(24vw, 11vh, 0);
  }
}
.particle:nth-child(14) {
  animation: particle-animation-14 60s infinite;
  height: 12px;
  width: 12px;
  animation-delay: -2.8s;
  transform: translate3d(39vw, 14vh, 0);
}

@keyframes particle-animation-15 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(61vw, 28vh, 0);
  }
}
.particle:nth-child(15) {
  animation: particle-animation-15 60s infinite;
  height: 12px;
  width: 12px;
  animation-delay: -3s;
  transform: translate3d(84vw, 51vh, 0);
}

@keyframes particle-animation-16 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(41vw, 62vh, 0);
  }
}
.particle:nth-child(16) {
  animation: particle-animation-16 60s infinite;
  height: 13px;
  width: 13px;
  animation-delay: -3.2s;
  transform: translate3d(70vw, 52vh, 0);
}

@keyframes particle-animation-17 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(27vw, 84vh, 0);
  }
}
.particle:nth-child(17) {
  animation: particle-animation-17 60s infinite;
  height: 15px;
  width: 15px;
  animation-delay: -3.4s;
  transform: translate3d(5vw, 53vh, 0);
}

@keyframes particle-animation-18 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(74vw, 35vh, 0);
  }
}
.particle:nth-child(18) {
  animation: particle-animation-18 60s infinite;
  height: 12px;
  width: 12px;
  animation-delay: -3.6s;
  transform: translate3d(21vw, 77vh, 0);
}

@keyframes particle-animation-19 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(80vw, 3vh, 0);
  }
}
.particle:nth-child(19) {
  animation: particle-animation-19 60s infinite;
  height: 13px;
  width: 13px;
  animation-delay: -3.8s;
  transform: translate3d(51vw, 81vh, 0);
}

@keyframes particle-animation-20 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(45vw, 28vh, 0);
  }
}
.particle:nth-child(20) {
  animation: particle-animation-20 60s infinite;
  height: 15px;
  width: 15px;
  animation-delay: -4s;
  transform: translate3d(58vw, 5vh, 0);
}

@keyframes particle-animation-21 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(83vw, 65vh, 0);
  }
}
.particle:nth-child(21) {
  animation: particle-animation-21 60s infinite;
  height: 13px;
  width: 13px;
  animation-delay: -4.2s;
  transform: translate3d(28vw, 61vh, 0);
}

@keyframes particle-animation-22 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(87vw, 41vh, 0);
  }
}
.particle:nth-child(22) {
  animation: particle-animation-22 60s infinite;
  height: 13px;
  width: 13px;
  animation-delay: -4.4s;
  transform: translate3d(84vw, 41vh, 0);
}

@keyframes particle-animation-23 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(89vw, 29vh, 0);
  }
}
.particle:nth-child(23) {
  animation: particle-animation-23 60s infinite;
  height: 13px;
  width: 13px;
  animation-delay: -4.6s;
  transform: translate3d(77vw, 29vh, 0);
}

@keyframes particle-animation-24 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(85vw, 31vh, 0);
  }
}
.particle:nth-child(24) {
  animation: particle-animation-24 60s infinite;
  height: 13px;
  width: 13px;
  animation-delay: -4.8s;
  transform: translate3d(24vw, 60vh, 0);
}

@keyframes particle-animation-25 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(71vw, 59vh, 0);
  }
}
.particle:nth-child(25) {
  animation: particle-animation-25 60s infinite;
  height: 12px;
  width: 12px;
  animation-delay: -5s;
  transform: translate3d(22vw, 89vh, 0);
}

@keyframes particle-animation-26 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(49vw, 40vh, 0);
  }
}
.particle:nth-child(26) {
  animation: particle-animation-26 60s infinite;
  height: 14px;
  width: 14px;
  animation-delay: -5.2s;
  transform: translate3d(46vw, 75vh, 0);
}

@keyframes particle-animation-27 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(81vw, 72vh, 0);
  }
}
.particle:nth-child(27) {
  animation: particle-animation-27 60s infinite;
  height: 13px;
  width: 13px;
  animation-delay: -5.4s;
  transform: translate3d(11vw, 24vh, 0);
}

@keyframes particle-animation-28 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(23vw, 18vh, 0);
  }
}
.particle:nth-child(28) {
  animation: particle-animation-28 60s infinite;
  height: 12px;
  width: 12px;
  animation-delay: -5.6s;
  transform: translate3d(79vw, 69vh, 0);
}

@keyframes particle-animation-29 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(10vw, 46vh, 0);
  }
}
.particle:nth-child(29) {
  animation: particle-animation-29 60s infinite;
  height: 15px;
  width: 15px;
  animation-delay: -5.8s;
  transform: translate3d(13vw, 83vh, 0);
}

@keyframes particle-animation-30 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(72vw, 56vh, 0);
  }
}
.particle:nth-child(30) {
  animation: particle-animation-30 60s infinite;
  height: 13px;
  width: 13px;
  animation-delay: -6s;
  transform: translate3d(75vw, 24vh, 0);
}

/*# sourceMappingURL=particle.css.map */
