body {
  background-color: #fff;
  color:#555;
}

header {
  background-color: #1a222c;
  color: white;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  /* display: flex; */
}

.name-container {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  margin: 0 auto;
  transform: translate(-50%,-50%);
}

.fade-out .site-title {
  transition: font-size 1s;
  font-size: 5em;
}

.site-title, .site-description {
  display: block;
  line-height: 1;
}

.site-title {
  font-size: 50px;
}

.site-description {
  font-size: 20px;
  margin-top: 10px;
}

@media only screen and (min-width: 768px){
  .site-title {
    font-size: 76px;
  }
  .site-description {
    font-size: 34px;
  }
}

.social-icon {
  margin-left: 10px;
}

.social-icon img {
  height: 35px;
  width: auto;
}

@keyframes down-pulse {
  0% {
    opacity: 0.2;
    height: 20px;
  }
  100% {
    opacity: 0.8;
    height: 30px;
  }
}

.down {
  width: auto;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
}

.down img {
  height: 30px;
  animation: down-pulse 1.5s infinite;
  animation-direction: alternate;
}

.down img:hover {
  animation: none;
}

section {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Antic Slab', sans-serif;
  font-weight: 400;
  font-size: 19px;
}

section h1 {
  font-size: 40px;
}

@media only screen and (min-width: 768px){
  section {
    width: 80%;
  }
}


.grid-container {
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (max-width: 375px){
  .grid-container {
    display: block;
  }
}

.tech {
  flex: 1 1 0;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fade-out {
  opacity: 0;
  animation: fade-out 1.5s ;
}

.hidden {
  visibility: hidden;
  display: none;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.score-container {
  animation: fade-in 5s;
  animation-timing-function: ease-in-out;

  font-size: 20vw;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  padding-top: 20vh;
}

.game-over {
  font-size: 6vw;
}

.snake-container > span {
  transition: all 0.1s linear;
}

.snake-segment {
  border: 1px solid #ccc;
  position: absolute;
  background-color: white;
}

.snake-segment:last-child {
  background-color: red;
}
